# =============== #

# Unity generated #

# =============== #

/FidgetSpinner/Temp/

/FidgetSpinner/Obj/

/FidgetSpinner/UnityGenerated/

/FidgetSpinner/Library/

Assets/AssetStoreTools*
# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj


# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db
Thumbs.db.meta
FidgetSpinner/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
FidgetSpinner/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta

FidgetSpinner/Assets/Plugins/Android/firebase-common-10.0.1/res.meta
FidgetSpinner/Assets/Plugins/Android/firebase-iid-10.0.1/res.meta
FidgetSpinner/.vs/FidgetSpinner/v15/Browse.VC.opendb
FidgetSpinner/.vs/FidgetSpinner/v15/Browse.VC.db
